.block-outside-block {
    border: solid 2px black;
    padding: 10px;
    height: 240px;
    width: 700px;
}

.block-1 {
    background-color: #81017f;
    height: 100px;
    width: 130px;
    border: solid #ffa400 4px;
    border-radius: 3px;
}

.block-2 {
    background-color: #81017f;
    height: 100px;
    width: 130px;
    border: solid #ffa400 4px;
    border-radius: 40px;
    position: absolute;
    top: 20px;
    left: 200px;
}

.block-3 {
    background-color: #81017f;
    height: 100px;
    width: 130px;
    border: solid #ffa400 4px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 370px;
}

.block-4 {
    background-color: #81017f;
    height: 100px;
    width: 130px;
    border: solid #ffa400 4px;
    border-top-left-radius: 100%;
    position: absolute;
    top: 150px;
    left: 20px;
}

.block-5 {
    background-color: #81017f;
    height: 100px;
    width: 130px;
    border: solid #ffa400 4px;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    position: absolute;
    top: 20px;
    left: 560px;
}

.block-6 {
    background-color: #81017f;
    height: 100px;
    width: 130px;
    border: solid #ffa400 4px;
    border-radius: 25%;
    position: absolute;
    top: 150px;
    left: 200px;
}

.block-7 {
    background-color: #81017f;
    height: 100px;
    width: 130px;
    border: solid #ffa400 4px;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 150px;
    left: 370px;
}

.block-8 {
    background-color: #81017f;
    height: 100px;
    width: 130px;
    border: solid #ffa400 4px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    position: absolute;
    top: 150px;
    left: 560px;
}

.block-outside-block-1 {
    border: solid 1px black;
    padding: 30px;
    height: 300px;
    width: 664px;
    position: absolute;
    top: 275px;
    border-bottom: solid 2px black;
}

.block-9 {
    border: ridge #fa0000 4px;
    height: 135px;
    width: 245px;
    border-radius: 40px;
    background-color: #66f096;

}

.block-9-1 {
    border: solid #31598f 2px;
    height: 92px;
    width: 195px;
    background-color: #4472c4;
    position: absolute;
    top: 45px;
    left: 55px;
}

.block-10 {
    border: ridge #fa0000 4px;
    height: 140px;
    width: 290px;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    background-color: #ffa000;
    position: absolute;
    top: 30px;
    left: 400px;
}

.block-10-1 {
    border: solid #31598f 2px;
    height: 100px;
    width: 220px;
    background-color: #4472c4;
    position: absolute;
    top: 15px;
    left: 20px;
}

.block-11 {
  background-color: #00ffff;
  height: 140px;
  width: 250px;
  border-top-right-radius: 85px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 15px;
  border: ridge #fa0000 4px;
  position: absolute;
  top: 205px;
  left: 30px;
}

.block-12-1 {
  border: solid #31598f 2px;
  height: 90px;
  width: 175px;
  background-color: #4472c4;
  position: absolute;
  top: 230px;
  left: 60px;
}

.block-13 {
  position: absolute;
  top: 205px;
  left: 400px;
  background-color: #9ed9e7;
  border: ridge #fa0000 4px;
  height: 140px;
  width: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 500px;
  border-bottom-left-radius: 200px;
}

.block-13-1 {
  border: solid #31598f 2px;
  height: 90px;
  width: 180px;
  background-color: #4472c4;
  position: absolute;
  top: 15px;
  left: 15px;
}